@model EventService.Models.DTO.CreateNewsDto

@{
    ViewData["Title"] = "Создание Новости";
}

<h2>Создание Новости</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Topic"></label>
        <input asp-for="Topic" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Text"></label>
        <textarea asp-for="Text" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="StartPublication"></label>
        <input asp-for="StartPublication" class="form-control" type="datetime-local" />
    </div>
    <div class="form-group">
        <label asp-for="EndPublication"></label>
        <input asp-for="EndPublication" class="form-control" type="datetime-local" />
    </div>
    <div class="form-group">
        <label asp-for="Importance"></label>
        <select asp-for="Importance" class="form-control">
            <option value="1">Низкий</option>
            <option value="2">Средний</option>
            <option value="3">Высокий</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>

<a asp-controller="Home" asp-action="GetAll">Назад к списку новостей</a>

